In [13]:
import pandas as pd

data = pd.read_csv('data/position.csv')
data.head()

           날짜  순번   이름 포지션
0  2023-10-14   3  유근명  CB
1  2023-10-14   5  김관규  CB
2  2023-10-14  29  박찬흥  CB
3  2023-10-14   8  김영안  CF
4  2023-10-14  10  최용석  CF

In [15]:
# 이름의 유니크한 값들을 출력
data["정제된 이름"] =  data['이름'].str.split('(').str[0]

# 공백 제거
data["정제된 이름"] = data["정제된 이름"].str.strip()

In [16]:
# 이름만 추출하여 정제된 이름 컬럼에 저장
data['정제된 이름'] = data['정제된 이름'].str.split(' ').str[0]
data['정제된 이름'].unique()

array(['유근명', '김관규', '박찬흥', '김영안', '최용석', '정행식', '오승준', '김경림', '조양연',
       '정재경', '김정욱', '조용학', '임성배', '이인규', '천석주', '석주', '윤형진', '배제전',
       '김국남', '우신우', '신명철', '이정재', '오세경', '홍성욱', '최정욱', '윤형구', '정용준',
       '박노봉', '한승엽', '한석', '이준석', '반기현', '안광서', '김현민', '설현중', '김상수',
       '정진환', '정재원', '이병규', '이영세', '민서', '김충', '이규현', '임동균', '배재전', '문정호',
       '김승현', '최명근', '맹재훈', '김민헌', '지승환', '재훈', '황정현', '김영휘'],
      dtype=object)

In [27]:
# 이름별 포지션 갯수
# '이름', '포지션', '횟수' 컬럼 DataFrame 생성
df = data.groupby(['정제된 이름', '포지션']).size().reset_index(name='횟수')
df.to_csv('data/position_count.csv', index=False)

In [28]:
# pivot_table을 이용하여 이름별 포지션 갯수를 피벗
# 행: 정제된 이름, 열: 포지션, 값: 횟수
df = pd.read_csv('data/position_count.csv')
df = df.pivot_table(index='정제된 이름', columns='포지션', values='횟수', aggfunc='sum')
df.to_csv('data/position_pivot.csv')

In [31]:
# 이름을 입력받아 포지션별 횟수를 출력
name = input('이름을 입력하세요: ')
df.loc[name].sort_values(ascending=False)

포지션
CM    11.0
Name: 김경림, dtype: float64